##  compiled files  ##
######################

/bin/
/doc/javadoc/
*.class
/*.jar
/share/unisay/ttypony/


##  backup files  ##
####################

*~
\#*\#
.\#*
*.swp


##  distribution files  ##
##########################

/dist/*/src/
/dist/*/unisay-*.tar.*


##  non-included files  ##
##########################

/dev/ecj.jar
/ecj.jar

